[run]
branch = True
source = src/quends
omit =
    src/quends/postprocessing/*
    */tests/*

[report]
omit =
    src/quends/postprocessing/*
    */tests/*
    */venv/*
    */__init__.py
fail_under = 90

[html]
directory = docs/_build/html/coverage

[xml]
output = coverage.xml

[tool.coverage.report]
fail_under = 90
