[run]
branch = True
source = src/quends
omit =
    src/quends/postprocessing/*

[report]
omit =
    src/quends/postprocessing/*
    */tests/*
    */venv/*
    */__init__.py

[html]
directory = docs/_build/html/coverage

[xml]
output = coverage.xml
