sphinx>=4
sphinx-immaterial
sphinx-design
sphinx-book-theme
pydata-sphinx-theme
myst-parser
sphinx-autoapi
sphinx-gallery
sphinx-automodapi
sphinx-autodoc-typehints
ipython
numpy
pandas
matplotlib
netCDF4
scipy
statsmodels
scikit-learn
